/* * Global Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* * Mobile-First Styles */

/* * Header Styles */
header {
    background-color: #2E323F;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;  
    margin-bottom: 0;
}

.logo {
    padding: 1rem 1rem 0;
}

.nav__list {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.nav__item {
    text-align: center;
    padding: .5rem 0 0;
}

.nav__item:nth-child(4) {
    padding-top: 1.5rem;
}

.nav__item:last-child {
    background-color: #A59678;
    padding: .15rem .8rem .25rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.intro_container {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    background-color: #3B4050;
    padding: 2rem 2rem 4rem;
}

.intro__title {
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #FFF;
    line-height: 3.5rem;

    outline: 2px solid red;
}

.gold_text {
    color: #A59678;
}

.intro__text {
    color: #FFF;
    font-size: 24px;
    line-height: 2rem;

    outline: 2px solid white;
}

.intro__btn_container {
    margin: 4rem 0 1rem;
    text-align: center;
}

.intro__btn {
    padding: .5rem 2rem;
    background-color: #A59678;
    text-decoration: none;
    border-radius: 2rem;
    font-family: 'Oswald', sans-serif;
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
}

.second_container {
    background-color: #EFEFEF;
    padding: 2rem 2rem 3rem;
}

.second_container h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #A59678;
}

.second_container p {
    font-size: 18px;
}

.main_container {
    padding: 2rem 2rem 3rem;
}

.main__title {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color: #A59678;
}

.main__subtext {
    font-size: 21px;
    line-height: 2rem;
}

.image__container {
    display: flex;
    justify-content: center;
}

.aside__container {
    background-color: #3B4050;
    color: #FFF;
    margin: 2rem 0 2rem;
    padding: .1rem 1rem;
}

.aside__container h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.aside__container p {
    font-size: 18px;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.footer_container {
    background-color: #3B4050;
    padding: 3rem 2rem 3rem;
}

.footer_container h2 {
    font-family: 'Oswald', sans-serif;
    color: #FFF;
    font-size: 24px;
}

.footer__subtext h4 {
    font-family: 'Oswald', sans-serif;
    color: #A59678;
    font-size: 21px;
}

.footer__subtext p {
    color: #FFF;
    line-height: 1.5rem;
}

.footer__subtext ul {
    list-style: none;
    padding-left: 0;
    color: #FFF;
    font-size: 16px;
}

.footer__subtext li {
    margin: .5rem 0 2rem;
}

.link {
    text-decoration: none;
    color: #FFF;
}

.link:hover {
    opacity: 65%;
}

.link:focus {
    opacity: 65%;
}

 /* * Tablet Media Query */
 @media screen and (min-width: 700px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .nav_bar {
        padding-right: 1rem;
    }

    .nav__list {
        display: flex;

    }

    .nav__item {
        padding-left: 1rem;
    }

    .nav__item:nth-child(4) {
        padding-top: .5rem;
        padding-left: 2rem;
    }

    .nav__item:last-child {
        margin-top: .4rem;
        margin-left: 1rem;
    }

    .intro__title {
        width: 70%;
    }

    .intro__text {

    }

    .second_container {
        display: flex;
        justify-content: space-between;
    }

    .row + .row {
        margin-left: 1.5rem;
    }

    aside {
        display: flex;
    }

 }




